.App { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px
}

li button {
  background-color: #ff4d4d;
  border:none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

li button:hover {
  background-color: #ff1a1a;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; transform: translateY(-10px); }
  10%, 90% { opacity: 1; transform: translateY(0); }  
}